/* Stylesheet for Homepage index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

input, button {
    outline: none;
    border: none;
}

.header {
    background: #199a19;
    color: #ffffff;
}

.container {
    width: 100%;
    display: grid;
    padding: 10px 30px;
    grid-template-columns: auto 1fr auto;
    gap: 32px;
    align-items: center;
}

.title-logo {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.search-box {
    display: grid;
    justify-content: center;
    align-items: center;
}

.search-box-area {
    width: 400px;
    max-width: 450px;
    border-radius: 5px;
    padding: 8px;
    background: #fff;
    position: relative;
}

.search-box-area input {
    width: 100%;
    color: #575757;
}

.search-box-area span {
    position: absolute;
    right: 8px;
    cursor: pointer;
}

.search-box-area span i {
    color: #000;
}

.left-header {
    float: right;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 20px;
}

.cart-link,
.register-link,
.login-link {
    text-align: center;
}

.cart-link {
    display: inline-block;
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -8px;
    right: -12px;
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}

.left-header a {
    margin: 0 10px;
}

/*  Stylesheet for LoggerUser  */
.user-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.loggedUser {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.user-popup {
    position: absolute;
    background: #fff;
    top: 48px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.75);
}

.user-popup ul li a {
    color: #000;
    display: block;
    margin: 0;
    padding: 10px;
}

.user-popup {
    display: none;
}

.user-popup ul li a:hover {
    background: #20A920;
    color: #fff;
}

.user-popup::before {
    content: "";
    position: absolute;
    top: -7px;
    width: 151px;
    height: 13px;
    background: transparent;
}

.loggedUser:hover .user-popup {
    display: block;
}

.product-view {
    width: 100%;
    background: #ddd;
}

.product-by-category {
    padding: 0 64px;
}

.category-wrapper {
    width: 100%;
}

.category-name {
    text-align: center;
    padding: 1.625rem 0;
}

.product-items-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 0 10px;
    padding-bottom: 24px;
}

.product-item {
    background: #e8e8e8;
    border-radius: 10px;
    width: 100%;
    padding: 16px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
    max-height: 450px;
    /*height: 400px;*/
}

.product-image {
    width: inherit;
    border-radius: inherit;
    max-height: 250px;
    height: 200px;
}

.product-image img {
    width: inherit;
    border-radius: inherit;
    max-height: inherit;
    height: inherit;
}

.product-details {
    padding: 10px 0;
}

.product-item button {
    width: 100%;
    padding: 12px;
    background: #199a19;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.product-item button:hover {
    background: #20A920;
}

.rating-stars .icon-star {
    color: #c5c5c5;
}

.product-name {
    font-weight: 600;
    color: #1d95ce;
    font-size: 18px;
}

.product-description {
    color: #818181;
    font-weight: 500;
}

.image-choice {
    display: flex;
    flex-direction: column;
}

.image-upload-wrapper {
    position: relative;
}

.image-upload-wrapper input[type="file"] {
    display: none;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 2px dashed #aaa;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
    background: #f9f9f9;
}

.upload-box:hover {
    border-color: #1a628a;
    background: #eef7fb;
}

.upload-box img {
    max-width: 60px;
    max-height: 60px;
    object-fit: contain;
    margin-bottom: 8px;
}

.upload-box span {
    font-size: 14px;
    color: #555;
}