<div th:fragment="mainContent" class="cart-section">
    <h2 class="cart-title">Giỏ hàng</h2>
    <div class="cart-table">
        <table>
            <thead >
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item, iterStat : ${cartItems}" th:data-id="${item.product.id}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${item.product.name}"></td>
                    <td class="item-price"
                        th:data-price="${item.price}"
                        th:text="${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ₫'">
                    </td>
                    <td>
                        <input class="cart-qty"
                               th:value="${item.quantity}"
                               type="number" min="0"
                               style="border: 1px solid #cccccc; padding: 8px; border-radius: 4px">
                    </td>
                    <td class="item-total"
                        th:text="${#numbers.formatDecimal(item.price * item.quantity, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ₫'"></td>
                    <td>
                        <button class="cart-delete-btn">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cart-total">
        <div>
           <p>
               Tổng tiền giỏ hàng:
               <span th:text="${#numbers.formatDecimal(cartTotal, 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></span>
           </p>
           <button type="button" id="buy-btn" onclick="checkout()">Mua hàng</button>
        </div>
        <div></div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            bindCartEvents()
        })

        function bindCartEvents() {
            const qtyInputs = document.querySelectorAll(".cart-qty")

            qtyInputs.forEach(input => {
                input.addEventListener('input', async (e) => {
                    const quantity = parseInt(e.target.value || 0)
                    const row = e.target.closest("tr")

                    const price = parseFloat(row.querySelector(".item-price").dataset.price)

                    const subtotal = price * quantity;
                    row.querySelector(".item-total").textContent = subtotal.toLocaleString() + " ₫"

                    updateCartTotal();

                    const productId = row.dataset.id
                    await fetch(`/cart/update/${productId}`, {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({quantity})
                    })
                })
            })

            document.querySelectorAll('.cart-delete-btn').forEach(btn => {
                btn.addEventListener("click", async e => {
                    const row = e.target.closest('tr')
                    const productName = row.querySelector('td:nth-child(2)').textContent
                    const productId = row.dataset.id

                    const deleteConfirm = confirm(`Bạn có chắc chắn muốn xóa sản phẩm "${productName}" khỏi giỏ hàng?`)
                    if (!deleteConfirm) return

                    await fetch(`/cart/delete/${productId}`, {
                        method: 'POST'
                    })

                    row.remove()
                    updateCartTotal();
                })
            })

            function updateCartTotal() {
                let total = 0;
                document.querySelectorAll('.item-total').forEach(cell => {
                    total += parseFloat(cell.textContent.replace(/[^\d]/g, "")) || 0
                })
                document.querySelector('.cart-total span').textContent = total.toLocaleString() + ' đ'
            }
        }

        function checkout() {
            fetch('/orders/export', { method: 'POST' })
                .then(res => {
                    if (!res.ok) throw new Error("Xuat hoa don that bai")
                    return res.blob()
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'invoice.pdf';
                    a.click();

                    refreshCart()
                })
                .catch(err => alert("Đã có lỗi xảy ra: " + err));
        }

        async function refreshCart() {
            const tbody = document.querySelector('tbody')
            tbody.innerHTML = `
                 <tr>
                    <td colspan="6" style="text-align:center; padding: 20px;">
                        Giỏ hàng trống
                    </td>
                </tr>
            `

            document.querySelector(".cart-total span").textContent = '0 đ'
        }
    </script>
</div>
