<div th:fragment="mainContent" class="user-profile">
    <h2 class="profile-title">Thông tin cá nhân</h2>
    <div class="profile-form">
        <form th:action="@{/users/profile/{id}(id=${user.id})}"
              th:object="${user}"
              method="post"
              enctype="multipart/form-data"
              accept-charset="UTF-8">
            <div class="user-info-wrapper">
                <div class="image-choice-group">
                    <div style="display: flex; align-items: center; justify-content: center">
                        <div class="profile-image">
                            <img alt="avatar"
                                 th:src="${user.imagePath}">
                        </div>
                    </div>
                    <div class="user-name" th:text="${user.fullName}"></div>
                    <div class="user-username" th:text="'@' + ${user.username}"></div>
                    <button class="btn-update-info" type="button"
                            th:onclick="'window.location.href=\'/order-management/users/profile/' + ${user.id} + '/update\''">
                        Sửa thông tin
                    </button>
                </div>

                <div class="input-form-group profile-form-group">
                    <div class="form-group form-group-1-2">
                        <label for="email">Email</label>
                        <input type="email"
                               id="email"
                               placeholder="email"
                               th:field="*{email}"
                               readonly>
                    </div>
                    <div class="form-group form-group-2-3">
                        <label for="phone">Số điện thoại</label>
                        <input type="text"
                               id="phone"
                               placeholder="phone"
                               th:field="*{phone}"
                               readonly>
                    </div>
                    <div class="form-group form-group-1-2">
                        <label for="address">Địa chỉ</label>
                        <input type="text"
                               id="address"
                               placeholder="address"
                               th:field="*{address}"
                               readonly>
                    </div>
                    <div class="form-group form-group-2-3">
                        <label for="dateOfBirth">Ngày sinh</label>
                        <input type="date"
                               id="dateOfBirth"
                               placeholder="dateofbirth"
                               th:field="*{dateOfBirth}"
                               readonly>
                    </div>
                    <div class="form-group form-group-1-3">
                        <label for="bio">Mô tả ngắn</label>
                        <textarea type="text"
                                  id="bio"
                                  placeholder="Tieu su"
                                  th:field="*{bio}"
                                  readonly></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>