<div th:fragment="mainContent" class="user-profile user-update">
    <h2 class="profile-title">Sửa thông tin cơ bản</h2>
    <div class="profile-form">
        <form th:action="@{/users/profile/{id}/update(id=${user.id})}"
              th:object="${user}"
              method="post"
              enctype="multipart/form-data">
<!--            <input type="hidden" th:field="*{id}" />-->
            <div class="user-update-wrapper">
                <div class="image-choice-group">
                   <div style="display: flex; justify-content: center; align-items: center">
                       <div class="profile-image">
                           <img id="avatarPreview" alt="avatar"
                                th:src="${user.imagePath}">
                       </div>
                   </div>
                    <div style="margin-top: 8px;" class="user-username">
                        @<span th:text="${user.username}">username</span>
                    </div>

                    <!-- Upload ảnh -->
                    <label class="user-upload-image-label"
                           for="file">
                        Chọn ảnh
                    </label>
                    <input type="file"
                           id="file"
                           name="file"
                           style="display: none;"
                           accept="image/*"
                           onchange="previewImage(event)">
                </div>

                <div class="input-form-group">
                    <div class="form-group form-group-1-2">
                        <label for="fullName">Họ tên</label>
                        <input type="text" th:field="*{fullName}" id="fullName">
                    </div>

                    <div class="form-group form-group-2-3">
                        <label for="email">Email</label>
                        <input type="email" th:field="*{email}" id="email">
                    </div>

                    <div class="form-group form-group-1-2">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" th:field="*{phone}" id="phone">
                    </div>

                    <div class="form-group form-group-2-3">
                        <label for="dateOfBirth">Ngày sinh</label>
                        <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth">
                    </div>

                    <div class="form-group form-group-1-2">
                        <label for="address">Địa chỉ</label>
                        <input type="text" th:field="*{address}" id="address">
                    </div>

                    <div class="form-group form-group-2-3">
                        <label for="bio">Mô tả ngắn</label>
                        <textarea th:field="*{bio}" id="bio" style="outline: none">
                        </textarea>
                    </div>

                    <!-- Nút hành động -->
                    <div class="update-action-btn">
                        <button class="btn-save-info" type="submit">
                            Lưu
                        </button>
                        <button class="btn-cancel" type="button"
                                onclick="window.history.back();">
                            Hủy
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        function previewImage(event) {
            const input = event.target
            const preview = document.getElementById("avatarPreview")

            if (input.files && input.files[0]) {
                const reader = new FileReader()
                reader.onload = function (e) {
                    preview.src = e.target.result
                }
                reader.readAsDataURL(input.files[0])
            }
        }
    </script>
</div>
