<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" th:href="@{/resources/css/users/profile.css}">
    <link rel="stylesheet" th:href="@{/resources/css/users/profile-update.css}">
    <script th:src="@{/resources/js/update-profile.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="content">
        <div th:replace="~{${mainContent} :: mainContent}" class="fragment-content"></div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>