<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" th:href="@{/resources/css/chat.css}">
    <link rel="stylesheet" th:href="@{/resources/css/users/profile.css}">
    <link rel="stylesheet" th:href="@{/resources/css/users/profile-update.css}">
    <link rel="stylesheet" th:href="@{/resources/css/users/cart.css}">
    <link rel="stylesheet" th:href="@{/resources/css/detail.css}">
    <link rel="stylesheet" th:href="@{/resources/css/common/chat-common.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
          integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="content">
        <div th:replace="~{${mainContent} :: mainContent}" class="fragment-content"></div>
    </main>
    <!-- Bieu tuong chat -->
    <div class="chat-area" id="chatBtn">
        <i class="fa-solid fa-comment"></i>
    </div>
    <!-- Popup chat voi admin hien len khi click vao bieu tuong chat -->
    <div class="chat-popup" id="chatPopup">
        <div class="chat-header">
            <span>Hỗ trợ trực tuyến</span>
            <button id="closeChat">&times;</button>
        </div>
        <div class="chat-body">
            <div class="messages" id="chatMessages"></div>
            <div class="chat-input-area">
                <input type="text" id="chatInput" placeholder="Nhập tin nhắn...">
                <button id="sendBtn">Gửi</button>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script>
        const chatBtn = document.getElementById("chatBtn");
        const chatPopup = document.getElementById("chatPopup");
        const closeChat = document.getElementById("closeChat");

        chatBtn.addEventListener("click", () => {
            chatPopup.style.display = 'flex'
        });

        closeChat.addEventListener("click", () => {
            chatPopup.style.display = "none"; // đóng popup
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

    <script th:inline="javascript">
        // ========================= Xu ly ket noi WEBSOCKET ========================= //
        let stompClient = null
        let currentUser = /*[[${username}]]*/ 'Guest'
        let adminUser = /*[[${'admin'}]]*/ 'admin'

        function connect() {
            // connect toi endpoint /ws-chat
            const socket = new SockJS("/ws-chat")
            stompClient = Stomp.over(socket)

            stompClient.connect(
                { username: currentUser },
                (frame) => {
                console.log('User connected: ' + frame)

                stompClient.subscribe('/user/queue/messages', (message) => {
                    const msg = JSON.parse(message.body)
                    showMessage(msg.sender, msg.content)
                })
            })
        }

        function sendMessage() {
            const input = document.getElementById("chatInput")
            const content = input.value

            if (content && stompClient) {
                // Payload
                const chatMessage = {
                    sender: currentUser,
                    receiver: adminUser,
                    content: content,
                    // sentAt: getCurrentTime()
                }
                // Gui tin nhan toi /app/chat
                stompClient.send('/app/chat', {}, JSON.stringify(chatMessage))
                showMessage(currentUser, content)
                input.value = ""
            }
        }

        const message = document.querySelectorAll('.message.sent')
        // message.style.textAlign = 'left'
        console.log(message)
        function showMessage(sender, content) {
            const messages = document.getElementById("chatMessages")
            const div = document.createElement("div")

            if (sender === currentUser) {
                div.classList.add("message", "sent")
            } else {
                div.classList.add("message", "received")
            }

            div.innerHTML = `<strong>${sender === currentUser ? 'Me' : adminUser}:</strong> ${content}`
            messages.appendChild(div)
            messages.scrollTop = messages.scrollHeight
        }

        function getCurrentTime() {
            const now = new Date();
            const hours = now.getHours().toString().padStart(2, "0");
            const minutes = now.getMinutes().toString().padStart(2, "0");
            return `${hours}:${minutes}`;
        }

        // Xu ly nhan nut "Gui"
        document.getElementById("sendBtn").addEventListener('click', sendMessage)
        // Xu ly nhan Enter
        document.getElementById("chatInput").addEventListener("keypress", function (e) {
            if (e.key === "Enter") {
                e.preventDefault()
                sendMessage()
            }
        })

        connect()
    </script>
</body>
</html>