<div th:fragment="content" class="product-fragment">
  <form th:action="@{/admin/products/create}"
        th:object="${product}"
        method="post"
        enctype="multipart/form-data"
        accept-charset="UTF-8">
    <h1>Thêm sản phẩm</h1>
    <div class="form-two-group">
      <div class="form-group">
        <label for="product-name">Tên sản phẩm</label>
        <input id="product-name" type="text"
               th:field="*{name}"
               required>
      </div>
      <div class="form-group">
        <label for="category-select">Loại sản phẩm</label>
        <select id="category-select"
                th:field="*{category.id}">
          <option th:each="cat : ${categories}"
                  th:value="${cat.id}"
                  th:text="${cat.name}">
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="product-stock">Số lượng tồn kho</label>
        <input id="product-stock" type="number" min="0" value="0"
               th:field="*{stock}"
               required>
      </div>
      <div class="form-group">
        <label for="product-price">Giá</label>
        <input id="product-price" type="number" step="1" min="0"
                th:field="*{price}"
                required>
      </div>
      <div class="form-group">
        <label for="product-desc">Mô tả</label>
        <textarea id="product-desc" th:field="*{description}"
                  rows="5"
                  required>
        </textarea>
      </div>
      <div class="form-group image-choice">
          <label>Ảnh sản phẩm</label>
          <div class="image-upload-wrapper">
            <input type="file"
                   id="imageInput"
                   name="file"
                   accept="image/*"
                   onchange="previewImage(this)">
            <label for="imageInput" class="upload-box new-upload">
              <img id="previewImg"
                   th:src="@{${product.imagePath}(v=${#dates.createNow().time})}"
                   alt="">
              <div class="upload-placeholder" aria-hidden="true">
                <i class="fa-regular fa-image"></i> <br>
                <span>Chọn ảnh</span>
              </div>
            </label>
          </div>
      </div>
    </div>
    <div class="btn-action">
      <button type="submit">Thêm</button>
      <button type="button" onclick="window.history.back()">Hủy</button>
    </div>
  </form>
  <script>
    function previewImage(input) {
      const file = input.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          const preview = document.getElementById("previewImg");
          preview.src = e.target.result;
          preview.style.display = "block";
          document.querySelector(".upload-placeholder").style.display = "none";
        }
        reader.readAsDataURL(file);
      }
    }
  </script>
</div>