<header th:fragment="header" class="header">
    <div class="container">
        <div class="title-logo">
            <a th:href="@{/home}">OrderMan</a>
        </div>
        <div class="search-box">
            <div class="search-box-area">
                <input type="text" name="search-input" id="search-input" placeholder="Tìm kiếm sản phẩm..." th:value="''" />
                <span>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </div>
        </div>
        <div class="left-header">
            <a th:href="@{/cart}" class="cart-link">
                <i class="fa-solid fa-cart-shopping"></i> Giỏ hàng
            </a>

            <!-- Neu chua dang nhap hien thi link dang nhap va dang xuat -->
            <div th:if="${loggedInUser == null}" class="unloggedUser">
                <a th:href="@{/register}" class="register-link">Đăng ký</a>
                <a th:href="@{/login}" class="login-link">Đăng nhập</a>
            </div>

            <!-- Neu da dang nhap thi hien thi ten nguoi dung va avatar -->
            <div th:if="${loggedInUser != null}" class="loggedUser">
                <span class="user-login-name" th:text="${loggedInUser.username}"></span>
                <img class="user-image" th:src="${loggedInUser.imagePath}"
                     alt="Avatar">
                <div class="user-popup">
                    <ul>
                        <li><a th:href="@{/users/profile}" >Profile</a></li>
                        <li><a th:href="@{/users/reset-password}">Thay đổi mật khẩu</a></li>
                        <li><a th:href="@{/logout}" >Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>