<div th:fragment="mainContent" class="product-view">
    <div class="product-by-category" th:each="category : ${categories}">
        <div class="category-wrapper">
            <h2 class="category-name" th:text="${category.name}"></h2>
            <div class="product-items-wrapper">
                <div class="product-item" th:each="product : ${category.products}">
                    <div class="product-image">
                        <img class="product-img" th:src="${product.imagePath}"
                             th:alt="${product.name}">
                    </div>
                    <div class="product-details">
                        <p class="product-name" th:text="${product.name}"></p>
                        <p class="product-description" th:text="${product.description}"></p>
                        <!-- Set up hien thi gia san pham theo formatDecimal -->
                        <p class="product-price"
                           th:text="'Giá: '+ ${#numbers.formatDecimal(product.price, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ₫'"></p>
                        <span class="rating-stars">
                            <i class="icon-star fa-solid fa-star"></i>
                            <i class="icon-star fa-solid fa-star"></i>
                            <i class="icon-star fa-solid fa-star"></i>
                            <i class="icon-star fa-solid fa-star"></i>
                            <i class="icon-star fa-solid fa-star"></i>
                        </span>
                    </div>
                    <button type="submit">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Thêm vào giỏ hàng
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>